body{
    font-family: Seoge UI, sans-serif;
    background-color: #1e1e1e;

}


input{
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    background-color: floralwhite;
    border-radius: 20px;
    border: none;
    border: 1px;
    border-color: #BC13FE;

}

#submit-btn{
    height: 40px;
    width: 250px;
    background-color:#9D00FF;
    color: floralwhite;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    border:none;
    transition-duration: 0.2s;
}

#submit-btn:hover{
    background-color: #B026FF;
    transition-duration: 0.2s;
    transform: translateY(-7px);
    border: none;
}

.login-div{
    margin:auto;
}

.login-div{
    color: #ffffff;
    text-align: center;
    background-color: #3333;
    transition-duration: 0.2s;
    width: 450px;
    height: 350px;
    border-radius: 20px;
    margin-top: 120px;


}

.login-div:hover{
    box-shadow: 2px 4px 3px 4px rgba(191, 0, 255, 1);
    transition-duration: 0.2s;
}
